<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery.min.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <title>D</title>
</head>
<body>

  <a href= <%= @bookmark.name %>Bookmarks</a>
  <a href= <%= @bookmark.url%></a>
  <a href= <%= @bookmark.description%> </a>
  
        <small>SEARCH STUFF!</small>
      </h1>
    </div>
  </div>
</div>
  
</body>
</html>